@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    font-family: 'Josefin Sans', 'Cabin Sketch', 'Helvetica Neue', Arial, sans-serif;
    background-color: #EFEFEF; /* Light Gray Background */
    display: flex;
    justify-content: flex-start;
    height: 80vh;
    flex-direction: column;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-2 {
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

.subheader {
    font-size: 1.2em;
    margin-top: 10px;
}

.subheader {
    font-size: 1.2em;
    margin-top: 4px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0.9);
    position: relative;
    z-index: 100;
}

.row {
    display: flex;
    width: 100%;
    position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 15px;
  align-item: center;
  justify-content: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3f5a36;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cell {
    flex: 1;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.5em;
    min-height: 50px;
    background-color: RGBA(250,0,250,0.15);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    font-family: "Josefin Sans", 'Helvetica Neue';
    margin: 2.5px;
}

.cell:not(.invisible) {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.genre-header {
    background-color: RGBA(250,0,0,0.15);
    min-height: 85px;
    border-radius: 15px 0px 0px 15px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.artist {
    background-color: RGBA(0,0,250,0.15);
    border-radius: 15px 15px 0px 0px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.invisible {
    visibility: hidden;
}

.leaderboard-wrapper {
    position: relative;
    z-index: 2;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 4px;
    background-color: rgba(203, 195, 227, 0.5);
}

.results-dropdown div:hover {
    background-color: #f0f0f0;
}
.results-dropdown {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 20px); /* adjust width as needed */
    z-index: 300;
    top: 100%; /* make sure it starts right after the input field */
    left: 0; /* align to the left edge of the input field */
    margin-top: 1px; /* add a little space below the input field */
}

#shareButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0.5em;
}

#quitButton {
    background-color: #6D071A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.results-dropdown div {
    padding: 5px; /* add more padding for spacing between results */
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0; /* add a subtle line between each result */
}

.results-dropdown div:last-child {
    border-bottom: none; /* no border for the last item */
}

/* Style for the song title to be bold */
.song-title {
    font-weight: bold;
}

.song-cell input[type="text"] {
    display: block;
    width: 100%;
    /* Other styling as needed */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.cheat-btn {
  margin-top: 10px; /* Adds some space above the button */
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.cheat-btn::after { 
  content: "\1F3B5"; /* Unicode value for a heart */
  font-size: 1rem; /* set font size */
  color: red; /* set color */
} 

.preview-audio {
  margin-top: 10px; /* Adds some space above the button */
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.song-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the cell */
    justify-content: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.header-logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0073e6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
    position: relative;
    z-index: 4200;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

/* Mobile Navigation */
.mobile-nav {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 1000;
}

.mobile-nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-links li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav.show {
    display: block;
}

.hero {
    background: url('/img/sproutbg.png') no-repeat center center / cover;
    background-attachment: fixed;
    position: relative;
    max-width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    font-family: 'Cabin Sketch';
    font-size: 3em;
    margin-bottom: 0.5em;
    z-index: 5;
    color: #4A4A4A; /* Dark Gray Text */
}

.hero-content h2 {
    font-family: 'Josefin Sans';
    font-size: 3em;
    margin-bottom: 0.5em;
    z-index: 5;
    color: #4A4A4A; /* Dark Gray Text */
}

.hero-content p {
    font-size: 1.2em;
    z-index: 4;
    color: #4A4A4A; /* Dark Gray Text */
    margin-bottom: 1em;
}

.play-button {
    padding: 1em 2em;
    background-color: #5C946E; /* Earthy Green Button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px; /* More rounded corners for elegance */
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1.5em;
    z-index: 5;
}

.build-button {
    padding: 1em 2em;
    background-color: #5C946E; /* Earthy Green Button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px; /* More rounded corners for elegance */
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    z-index: 5;
    position: relative;
}

.cta-button:hover {
    background-color: #425B4F; /* Darker Green on Hover */
}

.about {
    background-color: #f4f4f4;
    color: #333;
    padding: 3em 2em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index: 3;
}

.song-cell:hover {
    background-color: RGBA(250,0,250,0.1);
}

.genre-header.highlight {
    background-color: RGBA(250,0,0,0.1);
}

.artist.highlight {
    background-color: RGBA(0,0,250,0.1);
}

.highlight {
    font-weight: bold;
}

/* Container for the headphone icon */
.headphone-icon {
  position: relative;
  display: inline-block;
  width: 100px; /* Adjust based on the size of your icon */
  height: 100px; /* Adjust based on the size of your icon */
  background-image: url('/img/headphone.png'); /* Path to your headphone icon */
  background-size: cover;
  z-index: 2;
  animation: pulse 4s infinite ease-in-out;
}

/* Ripple effect using ::before and ::after pseudo-elements */
.headphone-icon::before, .headphone-icon::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  left: -25%;
  top: -25%;
  width: 150%; /* Initial size of the ripple */
  height: 150%; /* Initial size of the ripple */
  background-image: -webkit-radial-gradient(center, 5em 40px, RGBA(255,255,255,0), RGBA(255,255,255,0.3));
  animation: rippleAnimation 8s infinite ease-in-out;
  opacity: 0;
  z-index: 1;
  animation-delay: 1s;
}

.headphone-icon::after {
  animation-delay: 5s; /* Delays the second ripple to create a continuous effect */
}

/* Keyframes for the pulse/breathe effect */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scaling to control the intensity of the pulse */
  }
}

/* Keyframes for the ripple effect */
@keyframes rippleAnimation {
  0% {
    transform: scale(0.3);
    opacity: 0.6;
    -webkit-filter: blur(5px);
    z-index: 1;
  }
  100% {
    transform: scale(6);
    opacity: 0;
    -webkit-filter: blur(0px);
    z-index: 1;
  }
}

@media (max-width: 600px) {
    .cell, .genre-header, .artist {
        font-size: 14px; /* Adjust base font size */
        word-wrap: break-word; /* Ensures words wrap and don't overflow */
        padding: 1px 1px;
    }

    .genre-header {
        min-height: 45px;
    }
        
    .results-dropdown {
        width: 100%;
        box-sizing: border-box;
        top: 100%;
    }

    .results-dropdown div {
        padding: 5px;
    }

    .song-cell {
        position: relative;
        font-size: 3.5vw; /* Adjust base font size */
        word-wrap: break-word; /* Ensures words wrap and don't overflow */
        padding: 1px 1px;
        display: flex;
        flex-direction: columnn;
        align-items: flex-start; /* Align items to the start of the cell */
        justify-content: center;
        min-height: 25vw;
    }

    .cheat-btn {
      margin-top: 5px; /* Adds some space above the button */ 
      width: 100%;
      padding: 5px;
      margin: 5px 0;
      box-sizing: border-box;
    }

    .preview-audio {
      margin-top: 1px; /* Adds some space above the button */ 
      width: 100%;
      padding: 5px;
      margin: 3px 0;
      box-sizing: border-box;
    }
    
    .cheat-btn::after { 
      content: "\1F3B5"; /* Unicode value for a heart */
      font-size: 1rem; /* set font size */
      color: red; /* set color */
    } 

     .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-header {
        display: none; /* Hide categories on small screens */
    }

    .navbar .nav-links {
        display: none; /* Hide the desktop links */
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu */
    }

    .mobile-nav-links li a {
        padding: 7px 15px;
    }

    .nav-links li {
        width: 50%;
    }
    
    .header-logo {
        height: 30px;
    }

    .nav-logo {
        width: 50%;
        justify-content: space-between;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .hero-content {
        position: relative;
        z-index: 3;
        color: #333;
        text-align: center;
        margin-top: 18vh;
        margin-left: 15%;
        margin-right: 15%
    }
    
    .under-game {
        position: relative;
        z-index: 3;
        color: #333;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }
}
